<%- model_class = Player -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<div id="gridContainer">
  <table id="filterGrid">
    <tr>
      <td></td>
    </tr>
  </table> 
  <div id="pager"></div>
</div>
<% content_for :css do %>
  <style>
    .ui-pg-input {width: auto !important; }
    
    .ui-pg-selbox {
      width: auto !important; 
      padding: 0 !important;
    }
    
    .searchFilter select, input {
      width: auto !important; 
      
    }
  </style>
<% end %>
<% content_for :js do %>
  <script type="text/javascript">
    
  $(function () {
      numberSearchOptions = ['eq', 'ne', 'le', 'ge', 'nu', 'nn'],
      numberTemplate = {formatter: 'number', align: 'right', sorttype: 'number', width: 50,
                        searchoptions: { sopt: numberSearchOptions }},

      $("#filterGrid").jqGrid({
          url: "/players.json",
          datatype: "json",
          colNames: ["First Name", "Last Name", "Position", "Team", "Cost"],
          colModel: [
            { name: "first_name" },
            { name: "second_name" },
            { name: "type_name", width: 100, align: 'center',
             stype:'select', edittype: 'select', 
             searchoptions:{sopt:['eq','ne'], value:":All;Goalkeeper:Goalkeeper;Defender:Defender;Midfielder:Midfielder;Forward:Forward"},
             editoptions:{value:":All;Goalkeeper:Goalkeeper;Defender:Defender;Midfielder:Midfielder;Forward:Forward"}
            },
            { name: "team_name", width: 100, align: 'center', 
             stype:'select', edittype: 'select', 
             searchoptions:{sopt:['eq','ne'], value:":All;Arsenal:Arsenal;Aston Villa:Aston Villa;Cardiff City:Cardiff City;Chelsea:Chelsea;Crystal Palace:Crystal Palace;Everton:Everton;Fulham:Fulham;Hull City:Hull City;Liverpool:Liverpool;Man City:Man City;Man Utd:Man Utd;Newcastle:Newcastle;Norwich:Norwich;Southampton:Southampton;Stoke City:Stoke City;Sunderland:Sunderland;Swansea:Swansea;Tottenham:Tottenham;West Brom:West Brom;West Ham:West Ham"},
             editoptions:{value:":All;Arsenal:Arsenal;Aston Villa:Aston Villa;Cardiff City:Cardiff City;Chelsea:Chelsea;Crystal Palace:Crystal Palace;Everton:Everton;Fulham:Fulham;Hull City:Hull City;Liverpool:Liverpool;Man City:Man City;Man Utd:Man Utd;Newcastle:Newcastle;Norwich:Norwich;Southampton:Southampton;Stoke City:Stoke City;Sunderland:Sunderland;Swansea:Swansea;Tottenham:Tottenham;West Brom:West Brom;West Ham:West Ham"}
            },
            { name: "now_cost_float", template: numberTemplate }
          ],
          rownumbers: true,
          height: 'auto',
          pager: "#pager",
          rowNum: 20,
          rowList: [10, 20, 30],
          sortname: "now_cost_float",
          sortorder: "desc",
          viewrecords: true,
          gridview: true,
          autoencode: true,
          loadonce: true,
          ignoreCase: true,
          caption: "My first grid"
      }); 
      jQuery("#filterGrid").jqGrid('filterToolbar');
    
      //For docs on options set, refer: http://www.trirand.com/jqgridwiki/doku.php?id=wiki:singe_searching#options
      jQuery("#filterGrid").jqGrid('navGrid','#pager',{del:false,add:false,edit:false},{},{},{},{multipleSearch:true,
                                                                                                 width: 600,
                                                                                                 closeAfterSearch: true,
                                                                                                 top: 300,
                                                                                                 left: 100,
                                                                                                 searchOnEnter: true});
  }); 
  </script>
<% end %>
